.container {
    max-width: 1600px;
    max-height: 460px;
}

header {
    width: 1536px;
}

#navn {
    background-color: #f2881e;
    grid-area: nav;
}

.nav-link {
    font-weight: bolder;
    color: white;
}

.nav-link:hover {
    color: orange;
    font-size: 20px;
    background-color: white;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    margin: auto;
}

.content .about {
    width: 50%;
    font-weight: bolder;
}

.buttons {
    align-items: center;
    width: 80%;
    margin: auto;
}