body {
    background-color: black;

}

.container {
    max-width: 1534px;
    max-height: 100vh;
}

header {
    width: 1534px;
}

#navn {
    background-color: #f2881e;
}

.nav-link {
    font-weight: bolder;
    color: white;
}

.nav-link:hover {
    color: orange;
    font-size: 20px;
    background-color: white;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    margin: auto;
}

.content .about {
    width: 50%;
    font-weight: bolder;
    color: #f2881e;
}

.buttons {
    align-items: center;
    width: 80%;
    margin: auto;
}

.btn-primary {
    background-color: #f2881e;
    border: #f2881e solid 5px;
}

.btn-primary:hover {
    background-color: white;
    color: #f2881e;
    border: white 8px solid;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    padding: 10px;

}

.login {
    background-color: whitesmoke;
    border-radius: 7px;
}

.login h1 {
    color: #f2881e;
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
    padding: 10px;
}

.login .log {
    padding: 20px;
    margin: 10px;
}

#user {
    margin: 5px;
}

#pass {
    margin: 5px;
}

.fb {
    width: 200px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: ;
    background-color: #f2881e;
}

#us {
    margin: 10px;
}

#pn {
    margin: 10px;
}

#ff {
    margin: 10px;
}